.main-container {
    display: flex;
    flex-direction: column;

}
.first-image-container {
    position: relative;
    text-align: center;
    color: white;
}
.firstimage {
    width: 100%;
}

.data-section {
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.data {
    display: flex;
    flex-direction: column;
}
