.main-container {
    display: flex;
    flex-direction: column;

}
.first-image-container {
    position: relative;
    margin: 0 auto;
}

.first-image-container img {
    vertical-align: middle;
}

.first-image-container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5%;
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: transparent;
    padding: 3%;
}

.a-style {
    color: white;
}

.logo-container {
    display: flex;
    flex-basis: 40%;
}

.logo {
    margin-right: 0;
    width: 13%;
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-basis: 60%;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.green-button {
    background-color: #25e200;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 8%;
    padding: 1%;
}
.data-section {
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.data {
    display: flex;
    flex-direction: column;
}

.h1-data {
    text-align: center;
    color: #25e200;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    white-space: pre-wrap;
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 0%;
}

.h2-data {
    text-align: center;
    white-space: pre-wrap;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin-top: 15%;
}

.ads-section {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    margin: 5%;
    margin-top: 0%;
    
}

.ads-image-container {
    width: 100%;
    margin-left: 2%;
}
.h2-ads {
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
    margin-left: 7%;
    margin-top: 0%;
}

.p-ads {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    margin-left: 12%;
    margin-top: -4%;
    margin-right: 20%;

}

.learn-more-button {
    color: #18ea19;
    margin-left: 12%;
    cursor: pointer;
    background: transparent;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    font-weight: 400;
}

.program-section {
    display: flex;
    flex-direction: column;
    background-color: #25e200;
    align-items: center;
    padding-bottom: 3%;
}

.h2-program {
    text-align: center;
    margin-bottom: 0.5%;
    padding-top: 0.5%;
    white-space: pre-wrap;
    color: #fff;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
}

.image-program-container {
    justify-content: space-around;
    background-color: #25e200;
    width: 100%;
    
}

.image-program1 {
    width: 28%;
    margin-left: 22%;
    background-color: #25e200;
}

.image-program2 {
    width: 28%;
    background-color: #25e200;
    margin-left: 1%;
}

.graduates-section {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    margin: 5%;
}
.rp-section {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e6e6e6;
}

.media-image-container {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.media-image {
    background-attachment: #e6e6e6;
    display: flex;
}

.partners-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.partner-image {
    display: flex;
    background-color: white;
    justify-content: space-around;
}

.footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.footer-container-1 {
    color: #25e200;
    background-color: black;
    text-align: center;
}

.footer-container-2 {
    color: white;
    background-color: black;
}

.icons-container {
    display: flex;
    background-color: black;
    color: white;
}

.fa {
    display: flex;
    padding: 2%;
    font-size: 2%;
    width: 0.7%;
    margin-right: 20px;
}

.fa-facebook {
    background-color: black;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;
}

.nav-style {
    display: flex;
    align-items: center;
}