.main-container {
    display: flex;
    flex-direction: column;

}
.first-image-container {
    position: relative;
    text-align: center;
    color: white;
}
.firstimage {
    width: 100%;
}

.data-section {
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.data {
    display: flex;
    flex-direction: column;
}

.ads-section {
    display: flex;
    background-color: white;
    box-sizing: border-box;
}

.program-section {
    display: flex;
    flex-direction: column;
    background-color: #25e200;
    align-items: center;
}

.image-program-container {
    display: flex;
    background-color: #25e200;
    
}

.image-program {
    width: 100%;
    background-color: #25e200;
}