.main-container {
    display: flex;
    flex-direction: column;
}
.first-image-container {
    position: relative;
    margin: 0 auto;
}

.first-image-container img {
    vertical-align: middle;
}

.first-image-container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 38%;
    padding: 5%;
    margin-left: 2%;
    margin-bottom: 8%;
}
.styling-image1 {
    width: 100%;
    height: 920px;
    overflow: hidden;
    filter: brightness(50%);
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: transparent;
    padding: 5%;
    padding-bottom: 8%;
    margin-left: 2%;
    margin-top: -4%;
}
.a-style {
    color: white;
    font-size: calc((1.05 - 1) * 1.2vw + 1rem);
    font-weight: 500;
    font-family: 'roboto';
}

.logo-container {
    display: flex;
    flex-basis: 62%;
}

.logo {
    margin-right: 0;
    width: 20%;
}

.nav-container {
    display: flex;
    justify-content: end;
    flex-basis: 100%;
}
.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.green-button {
    background-color: #25e200;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 1%;
    font-family: 'roboto';
}
.green-button2 {
    background-color: #25e200;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 150px;
    padding: 2%;
    font-size: calc((1.3 - 1.2) * 1.2vw + 1rem);
    font-family: 'roboto';
}
.green-button:hover {
    background-color: rgb(0, 148, 0);
}
.green-button2:hover {
    background-color: rgb(0, 148, 0);
}
.h1-content {
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    line-height: 1.17;
    font-weight: 400;
    font-family: 'roboto';
}

.p-content {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.4;
    font-family: 'roboto';
}

.data-section {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}
@media screen and (max-width: 700px) {
    .data-section {
        flex-direction: column;
        align-items: center;
    }
}
.data {
    display: flex;
    flex-direction: column;
}

.h1-data {
    text-align: center;
    color: #25e200;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    white-space: pre-wrap;
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 0%;
    font-family: 'roboto';
}

.h2-data {
    text-align: center;
    white-space: pre-wrap;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    margin-top: 15%;
    font-family: 'roboto';
}

.ads-section {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    margin: 5%;
    margin-top: 0%;
}
@media screen and (max-width: 700px) {
    .ads-section {
        flex-direction: column;
        align-items: center;
    }
}
.ads-image-container {
    width: 100%;
    margin-left: 2%;
}
.h2-ads {
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
    margin-left: 7%;
    margin-top: 0%;
    font-family: 'roboto';
}

.p-ads {
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    margin-left: 12%;
    margin-top: -4%;
    margin-right: 20%;
    font-family: 'roboto';

}

.learn-more-button {
    color: #18ea19;
    margin-left: 12%;
    cursor: pointer;
    background: transparent;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    font-family: 'roboto';
}

.program-section {
    display: flex;
    flex-direction: column;
    background-color: #25e200;
    align-items: center;
    padding-bottom: 3%;
}

.h2-program {
    text-align: center;
    margin-bottom: 0.5%;
    padding-top: 0.5%;
    white-space: pre-wrap;
    color: #fff;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight: 400;
    font-family: 'roboto';
}

.image-program-container {
    justify-content: space-around;
    background-color: #25e200;
    width: 100%;
}
@media screen and (max-width: 700px) {
    .image-program-container {
        justify-content: center;
    }
    .image-program1 {
        width: 100%;
    }
    .image-program2 {
        width: 100%;
    }
}
.image-program1 {
    width: 28%;
    margin-left: 22%;
    background-color: #25e200;
}

.image-program2 {
    width: 28%;
    background-color: #25e200;
    margin-left: 1%;
}

.graduates-section {
    display: flex;
    background-color: white;
    box-sizing: border-box;
    margin: 5%;
}
@media screen and (max-width: 700px) {
    .graduates-section {
        flex-direction: column;
        align-items: center;
    }
}
.rp-section {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.h4-rp-section {
    text-align: center;
    color: black;
    font-size: calc((2 - 1) * 1.2vw + 1rem);
    line-height: 1.248;
    font-weight: 400;
    font-family: 'roboto';
}

.p-rp-section {
    text-align: center;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.4;
    margin-top: -2.2%;
    font-family: 'roboto';
}

.rp-image{
    width: 87%;
}

.quote-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
}

.quote-image {
    width: 55%;
}

.media-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #e6e6e6;
}

.h3-partners {
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    font-weight: 400;
    line-height: 1.222;
    color: black;
    font-family: 'roboto';
}

.media-image-container {
    background-color: #e6e6e6;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 3%;
}

.media-image {
    background-color: #e6e6e6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2%;
}

.partners-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    align-items: center;
    margin-bottom: 5%;
}

.funding-partners-image-container {
    display: flex;
    width: 100%;
    margin-bottom: 1%;
    justify-content: center;
    align-items: center;
}

.funding-partners-image {
    justify-content: center;
    width: 85%;
    padding-bottom: 3.5%;
    border-bottom: black solid 1px;
}

.partner-image {
    display: flex;
    width: 90%;
    height: 200px;
    background-color: white;
    justify-content: space-around;
    margin-bottom: -5%;

}

.strategic-partner-image-container {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.straegic-partner-image {
    height: 120px;
    width: auto;
}

.newsletter-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e6e6e6;
    padding-bottom: 3%;
}

.h3-newsletter {
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    text-align: center;
    font-weight: 400;
    line-height: 1.222;
    color: black;
    font-family: 'roboto';
}

.subscribe-button {
    background-color: black;
    color: white;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    padding: 1.2%;
}
.subscribe-button:hover {
    background-color: gray;
}

.footer {
    display: flex;
    background-color: black;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.footer-container-1 {
    color: #25e200;
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
    background-color: black;
    text-align: center;
}

.privacy-button {
    color: #25e200;
    cursor: pointer;
    text-decoration-line: underline;
    background-color: black;
}

.footer-container-2 {
    color: white;
    background-color: black;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
}


.icons-container {
    display: flex;
    background-color: black;
    color: white;
}

.fa {
    display: flex;
    padding: 2%;
    font-size: 2%;
    width: 0.7%;
    margin-right: 20px;
}

.fa-facebook {
    background-color: black;
    color: white;
}

.fa-instagram {
    background-color: black;
    color: white;
}

.fa-linkedin {
    background-color: black;
    color: white;
}

.fa-twitter {
    background-color: black;
    color: white;
}

.nav-style {
    display: flex;
    align-items: center;
}