.main-container {
    display: flex;
    flex-direction: column;

}
.first-image-container {
    position: relative;
    text-align: center;
    color: white;
}
.firstimage {
    width: 100%;
}

.data-section {
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.data {
    display: flex;
    flex-direction: column;
}

.ads-section {
    display: flex;
    background-color: white;
    box-sizing: border-box;
}

.program-section {
    display: flex;
    flex-direction: column;
    background-color: #25e200;
    align-items: center;
}

.image-program-container {
    display: flex;
    background-color: #25e200;
    
}

.image-program {
    width: 100%;
    background-color: #25e200;
}

.rp-section {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e6e6e6;
}

.media-image-container {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
}

.media-image {
    background-attachment: #e6e6e6;
    display: flex;
}

.partners-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.partner-image {
    display: flex;
    background-color: white;
    justify-content: space-around;
}

.footer {
    display: flex;
    background-color: black;
    justify-content: space-around;
}

.footer-container-1 {
    color: #25e200;
    background-color: black;
    text-align: center;
}

.footer-container-2 {
    color: white;
    background-color: black;
}

.icons-container {
    display: flex;
    background-color: black;
    color: white;
}